/* universal selector  */
* {         
    
    padding: 20;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}
.outer-container { 
    display: flex;  
    flex-direction: row;
    
}
.container-left {
    background: rgb(2, 17, 37);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    color: white;
    gap: 20px;
    width: 320px;
    font-size: 20px;
    padding: 5px 20px;
    flex-shrink: 0;
    overflow: hidden;

}
.itemcontainer {
    background: rgba(5, 39, 130, 0.905);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* display: flex;
    flex-direction: column; */
    /* text-indent: */
}

.item {
   
    height:30px;
    background: rgba(39, 76, 177, 0.755);
    color: white;
    margin: 10px;
    /* justify-content: start; */
    /* align-items: center; */
}

.container-right {
    
    width: 550px;
    margin: 10px;
    display: flex;
    /* height: 600px; */
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: top;
    overflow: hidden;
    flex-shrink: 0;
}

.right-items {
    height: 30px;
    background: rgb(240, 237, 237)
}

.center-top {
    height: 300px;
    background: white
}

.mycanvas {
    /* max-height: 400px;
    max-width: 400px; */
    width: 400px;
    height: 400px;
    border:1px solid #000000;
}
.canvas-container {
    display: flex;
    justify-content: center;
    height: 420px;

}
.clear-item {
    height: 100px;
    background: rgb(246, 241, 241)
}
.sub-container {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid black;
    row-gap: 10px;
    background: rgb(221, 213, 213)
}

